.collapsible-container {
    width: 100%;
    text-align: start;
    font-size: 24px;
    margin-top: 0px;
}

.collapsible-button {
    width: 100%;  
    background: #FF6060;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: white;
    padding: 7px 20px 7px 13px;
}

.collapsible-description {
    background: #F7F7F7;
    border-radius: 5px;
    color: #FF6060;
    font-weight: 200;
    padding: 20px 13px 13px 13px;
}