.image-carrousel {
    border-radius: 25px;
    height: 415px;
    width: 100%;
    object-fit: cover;
}

.Carrousel {
    position: relative;
    margin-top: 20px;
}

.Arrow-left {
    position: absolute;
    top: 200px;
    bottom: 0;
    left: 20px;
}

.Arrow-right {
    position: absolute;
    top: 200px;
    bottom: 0;
    right: 20px;
}

.position {
    color: white;
    position: absolute;
    top: 1;
    bottom: 0;
    left: 0;
    right: 0;
}