.Header-Kasa {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Navigation-Banner {
    display: flex;
    gap: 57px;
}

.active-link {
    text-decoration: underline;
    color: #FF6060;
}

.link-not-active {
    color: #FF6060;
    text-decoration: none;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {
    .Logo-Kasa-Header {
        width: 178px;
    }

    .Navigation-Banner {
        font-size: 16px;
    }
}

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 767px) {
    .Logo-Kasa-Header {
        width: 145px;
    }

    .Navigation-Banner {
        font-size: 12px;
        gap: 30px;
    }
}